{% extends 'base.html.twig' %}

{% block title %}Home | {{ parent() }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <header>
        <section class="header">
            <h1>Title of last article</h1>
            <a href="#" class="button">Link to article </a>
        </section>
    </header>
    <main>
        <h2>Blog</h2>
        <section class="grid">
            <section>
                <img src="https://source.unsplash.com/random/1600x1000" alt="">
                <div class="resume-article">
                    <div class="heading">
                        <h3>Title of article</h3>
                        <span class="info">10 Septembre, 2021</span>
                        <span class="info">10 commentaires</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
                </div>
            </section>
            <section>
                <img src="https://source.unsplash.com/random/1600x1000" alt="">
                <div class="resume-article">
                    <div class="heading">
                        <h3>Title of article</h3>
                        <span class="info">10 Septembre, 2021</span>
                        <span class="info">10 commentaires</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
                </div>
            </section>
            <section>
                <img src="https://source.unsplash.com/random/1600x1000" alt="">
                <div class="resume-article">
                    <div class="heading">
                        <h3>Title of article</h3>
                        <span class="info">10 Septembre, 2021</span>
                        <span class="info">10 commentaires</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
                </div>
            </section>
            <section>
                <img src="https://source.unsplash.com/random/1600x1000" alt="">
                <div class="resume-article">
                    <div class="heading">
                        <h3>Title of article</h3>
                        <span class="info">10 Septembre, 2021</span>
                        <span class="info">10 commentaires</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
                </div>
            </section>
            <section>
                <img src="https://source.unsplash.com/random/1600x1000" alt="">
                <div class="resume-article">
                    <div class="heading">
                        <h3>Title of article</h3>
                        <span class="info">10 Septembre, 2021</span>
                        <span class="info">10 commentaires</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
                </div>
            </section>
            <section>
                <img src="https://source.unsplash.com/random/1600x1000" alt="">
                <div class="resume-article">
                    <div class="heading">
                        <h3>Title of article</h3>
                        <span class="info">10 Septembre, 2021</span>
                        <span class="info">10 commentaires</span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
                </div>
            </section>
        </section>
    </main>
{% endblock %}
