.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 0 12vw;
  gap: 100px 50px;
  > section > div {
    position: relative;
    height: 230px;
    overflow: hidden;
    > a >img {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.button {
  margin-top: 15px;
}
